body {
	padding-top: 20px;
	padding-bottom: 40px
}

div.container {
    width: 960px
}

p.lead {
	padding-top: 15px;
}

div.navigation, div.pitch, div.section1, div.section2, div.faq, div.footer {
	padding: 10px 0px 10px 0px;
}

div.video, div.thermometer, div.order, div.social {
	border: 1px dotted;
	text-align: center;
}

div.video {
	height: 124px;
	line-height: 124px;
}

div.thermometer, div.order, div.social {
	height: 40px;
	line-height: 40px;
}

div.row {
	border: 1px solid;
}